@import '~noty/src/themes/bootstrap-v4';
@import '~noty/src/noty';
@import '~open-iconic/font/css/open-iconic';
@import '~open-iconic/font/css/open-iconic-bootstrap';
@import '~open-iconic/font/css/open-iconic-foundation';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-control.success {
  border-color: #28a745;
}
.form-control.invalid {
  border-color: #dc3545;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
